@import url(https://fonts.googleapis.com/css?family=Monoton|Comfortaa);

body {
  height:100vh;
  padding:0;
  margin:0;
  position:relative;
  overflow:hidden;
}

my-app, my-title{
	height:100%;
	width:100%;
  position:absolute;
  top:0;
}

my-app{
  z-index:4;
}


